<!DOCTYPE html>
<html lang="pt-br">
<head>
    @@include('../config_elements/head.html', {
        "page": "",
        "title": "Página padrão - Bubowl Project",
        "description": "Essa aqui é uma descrição de página",
        "keywords": "Bubowl, sites, projeto",
      })

    @@include('../HTML_elements/styles.html')
</head>
<body>
    <h1>Página Inicial</h1>

    <a href="{{url}}contato.html" title="Página de contato">Página de contato</a>

    @@include('../HTML_elements/scripts.html')
</body>
</html>