<meta charset="UTF-8">
<title>@@title</title>
<meta name="description" content=@@description>
<meta property="og:title" content=@@title />
<meta property="og:description" content=@@description />
<meta property="og:image" content="{{url}}img/logo.png" />
<meta property="og:url" content="{{url}}" />

<meta property="og:locale" content="pt_BR">
<meta property="article:author" content={{name}}>
<meta property="og:type" content="Landpage">
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="{{url}}" />
<meta name="twitter:title" content=@@title />
<meta name="twitter:description" content=@@description />
<meta name="twitter:image" content="{{url}}img/logo.png" />

<!-- Favicon -->
<link rel="icon" type="image/png" sizes="32x32" href="{{url}}img/favicon.png">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index,follow">
<meta name="keywords" content=@@keywords />

<!-- End Google Tag Manager -->
<link rel="canonical" href="{{url}}@@page" />